

<div class="article last-action">
    <div class="title">Dernière action</div>
    <div class="content" id="lastMessage">
    </div>
</div>

<div id="infos-container"  class="article case">

    <div class="title">Informations case</div>


<!-- 
    <div class="case-content">

        <div  class="info" *ngFor="let info of infos">
            <div class="img-container">
                <div class="avatar">
                    <img [src]="info.img" >
                    <div *ngIf="info.clan" class="clan" [ngClass]="info.clan"></div>
                </div>
                <p class="name">{{info.datas.name}}</p>
            </div>

            <div class="chara-infos">

                <div *ngIf="info.life && info.lifeMax" class="life">
                    <div class="icon icon-life"></div>
                    <div class="life-bar">
                        <div class="life-bar-life" [ngStyle]="{'width.%' : info.life/info.lifeMax*100}"></div>
                    </div>
                </div>
                <div *ngIf="info.inventory" class="inventory">
                    <div *ngFor="let item of info.inventory" class="inventory-item-container">
                        <div 
                        #refItem
                        *ngIf="item"
                        [ngClass]="item['icon']"
                        class="icon inventory-item" 
                        [matTooltip]="item.tooltip"
                        (mousedown)="mouseDownItem(refItem, item)"
                        >
                        <span *ngIf="item['datas']['number']">{{item['datas']['number']}}</span>
                    </div>
                    </div>
                   
                </div>
                <div class="actions">
                    <div class="action" 
                    *ngFor="let action of info.interactions"
                    (click)="user.makeAction(info, action.action)"
                    [matTooltip]="action.tooltip"
                    >
                    <div class="icon" [ngClass]="action['icon']"></div>
                    {{action.name}}
                    </div>
                </div>

                <div *ngIf="info.state" class="states">
                    <div *ngFor="let state of info.states | keyvalue"> 
                        <div class="state" [ngClass]="state.value.icon"></div>
                    </div>
                </div>

            </div>

        </div>

    </div>

 -->













    <div class="case-content" >
        <div id="infoFloor" class="info" *ngIf="targetFloor; let floor">
            <!-- {{case.floor.img}} -->
            <div class="img-container">
                <div class="avatar">
                    <img [src]="floor.img" >
                    <div *ngIf="floor['datas'] && floor['datas']['clan']" class="clan" [ngClass]="floor['datas']['clan']"></div>
                </div>
                <p>{{floor.name}}</p>
            </div>
            <div class="chara-infos">

                <div *ngIf="floor['inventory']" class="inventory">
                    <div *ngFor="let obj of floor.inventory" class="inventory-item-container">
                        <div 
                        #refItem
                        *ngIf="obj"
                        [ngClass]="obj['icon']"
                        class="inventory-item icon" 
                        [matTooltip]="obj.tooltip"
                        (mousedown)="mouseDownItem(refItem, obj)"
                        >
                            <span *ngIf="obj['datas']['number']">{{obj['datas']['number']}}</span>
                        </div>
                    </div>
                </div>


                <div class="actions">
                    <div class="action" 
                    *ngFor="let action of floor.interactions"
                    (click)="user.makeAction(floor, action.action)"
                    [matTooltip]="action.tooltip"
                    >
                        <div class="icon" [ngClass]="action['icon']"></div>
                        {{action.name}}
                    </div>
                </div>

            </div>

        </div>
    
    </div>


    <div class="case-content">

        <div  class="info" *ngFor="let chara of targetCharas">
            <div class="img-container">
                <div class="avatar">
                    <img [src]="chara.img" >
                    <div class="clan" [ngClass]="chara.clan"></div>
                </div>
                <p class="name">{{chara.datas.name}}</p>
            </div>

            <div class="chara-infos">

                <div class="life">
                    <div class="icon icon-life"></div>
                    <div class="life-bar">
                        <div class="life-bar-life" [ngStyle]="{'width.%' : chara.life/chara.lifeMax*100}"></div>
                    </div>
                </div>
                <div *ngIf="chara.inventory" class="inventory">
                    <div *ngFor="let obj of chara.inventory" class="inventory-item-container">
                        <div 
                        #refItem
                        *ngIf="obj"
                        [ngClass]="obj['icon']"
                        class="icon inventory-item" 
                        [matTooltip]="obj.tooltip"
                        (mousedown)="mouseDownItem(refItem, obj)"
                        >
                        <span *ngIf="obj['datas']['number']">{{obj['datas']['number']}}</span>
                    </div>
                    </div>
                   
                </div>
                <div class="actions">
                    <div class="action" 
                    *ngFor="let action of chara.interactions"
                    (click)="user.makeAction(chara, action.action)"
                    [matTooltip]="action.tooltip"
                    >
                    <div class="icon" [ngClass]="action['icon']"></div>
                    {{action.name}}
                    </div>
                </div>

                <div class="states">
                    <div *ngFor="let state of chara.states | keyvalue"> 
                        <div class="state" [ngClass]="state.value.icon"></div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <div class="case-content">

        <div class="info" *ngFor="let chara of targetMonsters">
            <div class="img-container">
                <img class="avatar"[src]="chara.img" >
                <p class="name">{{chara.datas.name}}</p>
            </div>

            <div class="chara-infos">

                <div class="life">
                    <div class="icon icon-life"></div>
                    <div class="life-bar">
                        <div class="life-bar-life" [ngStyle]="{'width.%' : chara.life/chara.lifeMax*100}"></div>
                    </div>
                </div>
                <div class="actions">
                    <div class="action" 
                    *ngFor="let action of chara.interactions"
                    (click)="user.makeAction(chara, action.action)"
                    [matTooltip]="action.tooltip"
                    >
                        <div class="icon" [ngClass]="action['icon']"></div>
                        {{action.name}}
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

