/* You can add global styles to this file, and also import other style files */

@font-face{
    font-family:  "roboto";
    src: url("/assets/fonts/Roboto-Medium.ttf");
}
@font-face{
    font-family:  "casette";
    src: url("/assets/fonts/casette.ttf");
}
@font-face{
    font-family:  "anglorunic";
    src: url("/assets/fonts/Solitarium.ttf");
}

@import './scss/utils.scss';
@import './scss/bases.scss';
@import './scss/variables.scss';
@import './scss/class.scss';

body{
    box-sizing: border-box;
    padding: 0px ;
    margin: 0px ;
    background : repeat url('/assets/images/background-image.png') ;
    font-family: roboto ;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
