@mixin no-select {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;   
}


.article{
    flex-flow: column nowrap ;
    align-items: center ;
    position : relative ;
    width: 90% ;
    border : 1px solid var(--book-page-border-color) ;
    padding: 2rem 1rem 1rem 1rem ;
    margin-bottom: 2rem ;
    background-color: var(--book-page-content-background-color);
    min-height: none ;
    max-height: none ;

}
.book{

    @include no-select ;
    background : repeat url('/assets/images/page-texture.png');
    background-size: cover ;
    display : flex ;
    flex-flow: column nowrap ;
    justify-content: flex-start ;
    color : var(--book-page-border-color) ;
    margin : 0px ;
    padding : 1rem ;
    width : 100% ;
    min-height: 100vh ;
    max-height: none ;
    overflow: auto ;

    .page {
        margin : 0rem 0px 2rem 0px  ;
        padding: 1rem ;
        display : flex ;
        flex-flow: column nowrap ;
        align-items: center ;
        height: auto ;
        max-height: none ;
        flex : auto ;
        max-width: none ;
        overflow: hidden !important ;
    }
    .article{

        flex : auto ;
        flex-flow: column nowrap ;
        align-items: center ;
        position : relative ;
        width: 90% ;
        border : 1px solid var(--book-page-border-color) ;
        padding: 2rem 1rem 1rem 1rem ;
        margin-top: 2rem ;
        background-color: var(--book-page-content-background-color);
        min-height: none ;
        max-height: none ;



    }
    .title{
        position : absolute ;
        top : 0px ;
        left : 50% ;
        transform : translate(-50%,-50%);
        padding: 0px 1rem ;
        margin : 0px ;
        font-family: casette ;
        font-size: 2rem ;
        font-weight: 100 ;
        line-height: 1rem ;
        background : linear-gradient( to bottom, var(--book-page-color) 50% , var(--book-page-content-background-color) 50% );
        // background-color: var(--book-page-color) ;
        text-align: center ;
    }
    .content{
        width : 100% ;
        height : 100% ;
        top : 0px ;
        overflow: auto;
        max-height: none ;

    }
}