.text{
    background-color: transparent ;
    &-1{
        line-height: 0.1rem ;
        background-color: transparent ;
        font-size: 0.66rem ;
        margin : 0px 0.66rem ;
        padding: 0px 0.33rem;
    }
}

.m1 {
    margin : 0.25rem ;
}
.m2 {
    margin : 0.5rem ;
}
.m3{
    margin : 0.75rem ;
}
.m4{
    margin : 1rem ;
}