
.icon{

    width : var(--icon-size) ;
    height: var(--icon-size)  ;
    background: url('/assets/images/icons.png');
    background-size: calc( var(--icon-size) *8) calc( var(--icon-size) *8) ;
    margin : 0rem 0.25rem ;
    padding:  0px ;

    &-map{
        background-position: calc( var(--icon-size) * 0) calc( var(--icon-size) * 0) ;
    }
    &-chara{
        background-position: calc( var(--icon-size) * 0) calc( var(--icon-size) * 1) ;
    }
    &-rank{
        background-position: calc( var(--icon-size) * 0) calc( var(--icon-size) * -2) ;
    }
    &-forum{
        background-position: calc( var(--icon-size) * 0) calc( var(--icon-size) * -1) ;
    }

    &-dice{
        background-position: calc( var(--icon-size) * -2) calc( var(--icon-size) * -1) ;
    }
    &-chooses{
        background-position: calc( var(--icon-size) * -3) calc( var(--icon-size) * -1) ;

    }
    &-chooses{
        background-position: calc( var(--icon-size) * -3) calc( var(--icon-size) * -1) ;
    }
    &-search{
        background-position: calc( var(--icon-size) * -1) calc( var(--icon-size) * -4) ;
    }

    &-shield{
        background-position: calc( var(--icon-size) * -2) calc( var(--icon-size) * 0) ;
    }
    &-water{
        background-position: calc( var(--icon-size) * -1) calc( var(--icon-size) * -2) ;
    }
    &-food{
        background-position: calc( var(--icon-size) * -1) calc( var(--icon-size) * -1) ;
    }
    &-wood{
        background-position: calc( var(--icon-size) * -1) calc( var(--icon-size) * 0) ;
    }
    &-gold{
        background-position: calc( var(--icon-size) * -1) calc( var(--icon-size) * -3) ;
    }
    &-faith{
        background-position: calc( var(--icon-size) * -3) calc( var(--icon-size) * -2) ;
    }


    &-life{
        background-position: calc( var(--icon-size) * -3) 0 ;
    }
    &-attack{
        background-position: calc( var(--icon-size) * -3) calc( var(--icon-size) * -3)  ;
    }
    &-defend{
        background-position: calc( var(--icon-size) * -1) calc( var(--icon-size) * -3)  ;
    }
    &-heal{
        background-position: calc( var(--icon-size) * -2) calc( var(--icon-size) * -2) ;
    }
    &-pray{
        background-position: calc( var(--icon-size) * -3) calc( var(--icon-size) * -2) ;
    }

    &-tea{
        background-position: calc( var(--icon-size) * 0) calc( var(--icon-size) * -3) ;
    }

    &-book{
        background-position: calc( var(--icon-size) * -2) calc( var(--icon-size) * -2) ;
    }
    &-death{
        background-position: calc( var(--icon-size) * -2) calc( var(--icon-size) * -3) ;
    }

    &-message{

        --icon-size : 1rem ;
        margin : 0px ;
        padding : 0px ;
        width : 1rem ;
        height : 1rem ;
    }

}

.icon-potions{


    width : var(--icon-size) ;
    height: var(--icon-size) ;
    background: url('/assets/images/potions.png');
    background-size: calc( var(--icon-size) *10) calc( var(--icon-size) *4) ;
    margin : 0rem 0.25rem ;
    padding:  0px ;

    &-life{
        background-position: calc( var(--icon-size) * 0) calc( var(--icon-size) * 0) ;
    }

}